.container{
    display:flex;
    flex-direction: row;
    width:400px;
    align-items: center;
    column-gap: 20px;
    box-shadow: 0px 4px 0px 0px rgb(162, 147, 247);
    background-color: rgb(227, 245, 252);
    padding:15px;
    margin-bottom:20px;
    margin-right:auto;
    margin-left:auto;
    font-family: arial;
    border-radius: 10px;
}

.container:first-child .user-image{
    width:200px;
    object-fit: cover;
    border-radius: 50%;
}

.container .info{
    text-align: left;
}
