body{
    display: flex;
    justify-content: center;
}
.js-container{
   
    display: flex;
    column-gap: 50px;
    justify-content: center;
    background-color:rgba(20, 1, 20, 0.747);
    padding:40px;
    width:fit-content;
    border:4px solid yellow;
    border-radius:5px;
}
.score h1{
    margin-top:0;
}

.score{
    display: flex;
    flex-direction: column;
    row-gap:10px;
    text-align: center;
    color:white;
}

.score .home-score, .guest-score{
    color:red;
    font-size:100px;
    background-color: black;
}