body{
    margin:0;
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
    min-width: 400px;
}
div{
    margin-bottom:20px;
}
.input-el{
    width:100%;
    padding:10px;
    
    border:1px solid rgb(84, 160, 9);
    outline:rgb(81, 158, 4);
    box-sizing: border-box;;
}

.input-btn, .delete-btn, .tab-btn{
    border:none;
    background-color: rgb(82, 157, 7);
    color:white;
    font-weight: 600;
    padding:10px;
}
.delete-btn{
    background-color: white;
    color:rgb(82, 157, 7);
    font-weight: 600;
    border:1px solid rgb(82, 157, 7);
    border-radius:4px;
}

.remove-lead{
    color:rgb(82, 157, 7);
    border:none;
    background: transparent;
}
.remove-lead:hover{
    text-decoration: underline;
}

ul{
    list-style: none;
    padding:0;
}
li{
    margin-bottom:10px;
    display: flex;

}
li a{
    color:rgb(81, 158, 4); 
    text-decoration: none;
    flex:1;
}